<p id="notice"><%= notice %></p>

<h1>Papers</h1>
<%= link_to 'New Paper', new_paper_path %>
<br>

<table class="table table-striped" id="papers-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Abstract</th>
      <th>Notes</th>
      <th>Tags</th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= link_to paper.title, paper %></td>
        <td><%= paper.authors %></td>
        <td><%= paper.abstract %></td>
        <td><%= paper.notes %></td>
        <td><%= paper.tags %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
