<p id="notice"><%= notice %></p>

<p>
  <strong>Authors:</strong>
  <%= @paper.authors %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @paper.abstract %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper) %> |
<%= link_to 'Back', papers_path %>
